name: Build

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: リポジトリのチェックアウト
        uses: actions/checkout@v4

      - name: validate gradle wrapper
        uses: gradle/actions/wrapper-validation@v3

      - name: Javaのセットアップ
        uses: actions/setup-java@v3
        with:
          java-version: 17
          distribution: adopt

      - name: ビルド
        run: bash gradlew clean build --stacktrace

      - name: レポートをアップロード
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: build/reports
          retention-days: 7
